body {
  margin: 0;
}

hr {
  color: black;
  background-color: black;
  border: solid 0.5px;
}

@font-face {
  font-family: "Marlene Grande Regular";
  src: url(font/MarleneGrande-Regular.woff);
}

@font-face {
  font-family: "Marlene Grande Light";
  src: url(font/MarleneGrande-Light.woff);
}

@font-face {
  font-family: "Marlene Grande Light Italic";
  src: url(font/MarleneGrande-LightItalic.woff);
}

@font-face {
  font-family: "Marlene Grande Medium";
  src: url(font/MarleneGrande-Medium.woff);
}

@font-face {
  font-family: "Marlene Grande Medium Italic";
  src: url(font/MarleneGrande-MediumItalic.woff);
}

@font-face {
  font-family: "Marlene Grande Italic";
  src: url(font/MarleneGrande-Italic.woff);
}

@font-face {
  font-family: "Marlene Grande Bold Italic";
  src: url(font/MarleneGrande-BoldItalic.woff);
}

@font-face {
  font-family: "Marlene Grande Bold";
  src: url(font/MarleneGrande-Bold.woff);
}

.header {
  width: 100%;
  height: 200px;
}

.main {
  width: 1440px;
  padding-top: 10px;
}

h1 {
  font-family: "Marlene Grande Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
}

.newspaperhead hr {
  border: 0.5px solid;
  width: 1060px;
  margin-top: 0px;
  margin-bottom: 6px;
}

#upperline {
  margin-bottom: 0px;
}

.thickline {
  width: 1060px;
  height: 2px;
  background-color: #000;
}

.headertext {
  padding-top: 0px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  justify-content: space-between;
  width: 1060px;
  text-align: center;
}

.headertext p {
  font-family: "Marlene Grande Regular";
  font-size: 18px;
  line-height: 1.5em;
  text-transform: capitalize;
  color: #444;
}

section {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.architecture div {
  width: 29.3%;
}

.architecture p {
  font-size: 20px;
  line-height: 152%;
}

section div {
  width: 66%;
}

.title1 {
  font-family: "Marlene Grande Bold";
  font-size: 57px;
  width: 1060px;
  margin: 0 auto;
}

section p {
  font-family: "Marlene Grande Regular";
  font-size: 20px;
  line-height: 29px;
}

.article {
  width: 300px;
}

.imgfirst {
  margin-top: 5px;
}

.architectureimage {
  width: 1060px;
  margin: 0 auto;
  outline: 2px solid;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.newsbodybottom {
  width: 33%;
  padding-top: 8px;
}

.IlyaAbout {
  width: 66%;
  padding-left: 50px;
}

.lolik div {
  width: 33%;
}

.speaker {
  maqrgin-top: 0%;
}

.lolik h1 {
  font-size: 80px;
  text-align: left;
  line-height: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #414141;
}

.qwe {
  margin: auto;
}

.qwe h1 {
  font-size: 500px;
  margin: 234px auto;
  font-family: "Marlene Grande Medium";
}

.lolik hr {
  width: 95%;
  margin-right: 5%;
}

.space {
  height: 200px;
}

.smallspace {
  height: 40px;
}

footer {
  background-color: black;
  font-family: "Marlene Grande Regular";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  height: 390px;
  width: 100%;
}

footer hr {
  width: 555px;
  background-color: white;
  color: white;
}

.foot {
  padding-top: 100px;
  width: 610px;
  margin: 0 auto;
}

.storytell {
  font-size: 40px !important;
  line-height: 47px;
}

.newsbodybottom h2 {
  padding-bottom: 5.5px;
}

#Light {
  font-family: "Marlene Grande Light";
}

#Regular {
  font-family: "Marlene Grande Regular";
}

#Medium {
  font-family: "Marlene Grande Medium";
}

#Bold {
  font-family: "Marlene Grande Bold";
}

#intro {
  padding-right: 150px;
  font-size: 24px;
}

#LightItalic {
  font-family: "Marlene Grande Light Italic";
}

#RegularItalic {
  font-family: "Marlene Grande Italic";
}

#MediumItalic {
  font-family: "Marlene Grande Medium Italic";
}

#BoldItalic {
  font-family: "Marlene Grande Bold Italic";
}

#IlyaRuderman {
  padding-bottom: 100px;
}

#facts {
  width: 1060px;
  margin: 0 auto;
  font-family: "Marlene Grande Bold";
  font-size: 20px;
}

#factsimg {
  width: 24.4%;
}

#facts1 {
  width: 29.3%;
}

#facts2 {
  width: 444px;
}

.types {
  width: 1060px;
  margin: 0 auto;
}

#typestext {
  width: 23.3%;
  font-family: Marlene Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

#typesempty {
  width: 4%;
}

#types {
  width: 45, 4%;
}

#types p {
  margin: 0 auto;
}

#typestypes {
  width: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto
}

#for {
  font-family: "Marlene Grande Bold Italic";
  font-size: 63.1172px;
  line-height: 152%;
}

#etimo {
  font-family: "Marlene Grande Medium";
  font-size: 60.8832px;
  line-height: 152%;
}

#Пасля {
  font-family: "Marlene Grande Italic";
  font-size: 31.5783px;
  line-height: 152%;
}

#JOJO {
  font-family: "Marlene Grande Bold";
  font-size: 109.403px;
  line-height: 100%;
}

#Murr {
  font-family: "Marlene Grande Light";
  font-size: 62.7001px;
  line-height: 152%;
}

#Pusi {
  font-family: "Marlene Grande Bold";
  font-size: 27.87px;
  line-height: 152%;
}

#Msk {
  font-family: "Marlene Grande Italic";
  font-size: 38.1207px;
  line-height: 152%;
}

#schr {
  font-family: "Marlene Grande Medium";
  font-size: 45.6411px;
  line-height: 152%;
}

#Itak {
  font-family: "Marlene Grande Light";
  font-size: 19.4126px;
  line-height: 152%;
}

#serifs {
  font-size: 900px;
  margin-top: 250px;
  weight: 100%;
  height: 100%;
}

#aue {
  width: 100%;
  height: 80px;
}

#vari {
  width: 1060px;
  margin: 0 auto;
  font-family: "Marlene Grande Bold";
  font-size: 18px;
  line-height: 22px;
}

.omy {
  margin: 0 auto;
}

.typeshr {
  width: 80%;
}

#typestexi {
  font-size: 16px;
  line-height: 19px;
}

#rectangle {
  width: 3px;
  height: 100%;
  background-color: black;
  margin-left: 100%;
  margin-top: 8px;
}

#subtitle {
  font-size: 25px;
  font-family: "Marlene Grande Medium";
  margin-bottom: 10px;
  margin-top: 11px;
}

.Kant {
  margin: 0 auto;
  width: 100% !important;

}

.Kant p {
  line-height: 0;
  font-size: 140px;
  text-align: center;
  font-family: "Marlene Grande Bold";
}

#firsthr {
  margin-bottom: 0;
  border: 0px solid;
  height: 1px;
  width: 100%;
}

#secondhr {
  margin-top: 10px;
  border: 0px solid;
  height: 1px;
  width: 100%;
  margin-bottom: 22px;
}
.kantdiv{
  margin: 0 auto;
}
#thirdhr {
  border: 0px solid;
  height: 1px;
  width: 100%;
  margin-bottom: 39px;
}

#fourthhr {
  border: 0px solid;
  height: 1px;
  margin-top: 35px;
}
