body {
  margin: 0;
}


@font-face {
  font-family: "Marlene Grande Regular";
  src: url(fonts/MarleneGrande-Regular.woff);
}

@font-face {
  font-family: "Marlene Grande Light";
  src: url(fonts/MarleneGrande-Light.woff);
}

@font-face {
  font-family: "Marlene Grande Light Italic";
  src: url(fonts/MarleneGrande-LightItalic.woff);
}

@font-face {
  font-family: "Marlene Grande Medium";
  src: url(fonts/MarleneGrande-Medium.woff);
}

@font-face {
  font-family: "Marlene Grande Medium Italic";
  src: url(fonts/MarleneGrande-MediumItalic.woff);
}

@font-face {
  font-family: "Marlene Grande Italic";
  src: url(fonts/MarleneGrande-Italic.woff);
}

@font-face {
  font-family: "Marlene Grande Bold Italic";
  src: url(fonts/MarleneGrande-BoldItalic.woff);
}

@font-face {
  font-family: "Marlene Grande Bold";
  src: url(fonts/MarleneGrande-Bold.woff);
}

.header {
  width: 100%;
  height: 200px;
}

.main {
  width: 1440px;
  padding-top: 10px;
}

h1 {
  font-family: "Marlene Grande Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
}

hr {
  border: 0.5px, solid #ff0;
}

.newspaperhead hr {
  border: 1px solid #000000;
  width: 1060px;
  margin-top: 0px;
}

#upperline {
  margin-bottom: 0px;
}

.thickline {
  width: 1060px;
  height: 2px;
  background-color: #000;
}

.headertext {
  padding-top: 0px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  justify-content: space-between;
  width: 1060px;
  text-align: center;
}

.headertext p {
  font-family: "Marlene Grande Regular";
  font-size: 18px;
  line-height: 0px;
  text-transform: capitalize;
  color: #444;
}

section {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.architecture div {
  width: 33%;
}

.architecture p {
  font-size: 20px;
  line-height: 152%;
}

section div {
  width: 66%;
}

.title1 {
  font-family: "Marlene Grande Bold";
  font-size: 57px;
  width: 1060px;
  margin: 0 auto;
}

section p {
  font-family: "Marlene Grande Regular";
  font-size: 20px;
  line-height: 29px;
}

.article {
  width: 300px;
}

.imgfirst {
  margin-top: 5px;
}

.architectureimage{
  width: 1060px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.newsbodybottom {
  width: 33%;
  padding-top: 8px;
}

.IlyaAbout {
  width: 66%;
  padding-left: 50px;
}

.lolik div {
  width: 33%;
}

.lolik h1 {
  font-size: 80px;
  text-align: left;
  color: #414141;
}

.qwe h1 {
  font-size: 500px;
  font-family: "Marlene Grande Medium";
}

footer {
  background-color: black;
  font-family: "Marlene Grande Regular";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  height: 390px;
  width: 100%;
}

footer hr {
  width: 555px;
}

.foot {
  padding-top: 100px;
  width: 610px;
  margin: 0 auto;
}

.storytell {
  font-size: 40px !important;
  line-height: 47px;
}

.newsbodybottom h2 {
  padding-bottom: 5.5px;
}

#Light {
  font-family: "Marlene Grande Light";
}

#Regular {
  font-family: "Marlene Grande Regular";
}

#Medium {
  font-family: "Marlene Grande Medium";
}

#Bold {
  font-family: "Marlene Grande Bold";
}

#intro {
  padding-right: 150px;
  font-size: 24px;
}

#LightItalic {
  font-family: "Marlene Grande Light Italic";
}

#RegularItalic {
  font-family: "Marlene Grande Italic";
}

#MediumItalic {
  font-family: "Marlene Grande Medium Italic";
}

#BoldItalic {
  font-family: "Marlene Grande Bold Italic";
}

#IlyaRuderman {
  padding-bottom: 100px;
}
